/**
 * NOTE: this file is not part of the iOS.css library.
 * It is only used to define additional demo site related CSS rules.
 */

* {
	margin: 0;
	padding: 0;
	outline: none;
}

#wrapper {
	height: 480px;
}

div.iOSlist-background {
	position: absolute;
	top: 44px;
	height: 400px;
}

nav i {
	background: url(placeholder.png);
}

nav .current i {
	background: url(active.png);
}